.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg) no-repeat center;
    background-color: #2F303A;

    /*MOBILE*/
    @media (min-width:320px)and(max-width:1199px) {
      background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
      url(../images/bg-img-mob@x1.jpg) no-repeat center;
      background-position: center;
      background-size: cover;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ), url(../images/bg-img-mob@x2.jpg) no-repeat center;}
      
      /*TABLET*/
      @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-img-tablet@x1.jpg) no-repeat center;}
     @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
      url(../images/bg-img-tablet@x2.jpg) no-repeat center;}

      /*DESKTOP*/
      @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg-img-desktopt@x1.jpg) no-repeat center;}
     @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
      url(../images/bg-img-desktop@x2.jpg) no-repeat center;}
}
  
  .hero__text {
    width: 700px;
    margin: auto;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media (min-width:320px)and(max-width:768px){
      width: 100%;
      flex-wrap: wrap;
      font-size: 26px;
      line-height: 1.62;
      font-weight: 900;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    @media (min-width:768px)and(max-width:1199px) {
      width: 100%;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
        }
  }
  .benefits {
    padding-top: 95px;
    padding-bottom: 95px;
    margin: auto;

    /*@media (min-width:481px)and(max-width:768px){
      width: 100%;
    }*/
  }
  .benefits__list {
    list-style: none;
    display: flex;
    
    @media (min-width:320px)and(max-width:767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;  
    }
    @media (min-width:768px)and(max-width:1199px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
    }
  }
  .benefits__item {
    width: 270px;
    &:not(last-child) {
      margin-right: 30px;
    }
        @media (min-width: 320px) and (max-width: 768px) {
          min-width: 450px;
        }
         /*@media (min-width:481px)and(max-width:768px) {
          width: 354px;
        }*/
  }
  
  .benefits__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

    @media (min-width: 320px) and (max-width: 768px) {
        width: 450px;
      }
    /*@media (min-width:481px)and(max-width:768px) {
      width: 354px;
    }*/
  }
  .benefits__icons {
    background-color: #F5F4FA;

  }
  .benefits__name {
    margin-bottom: 10px;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media (min-width:320px)and(max-width:768px) {
        text-align: center;
      }
  }
  .benefits__description {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .direction {
    padding-bottom: 95px;
    gap: 30px;

    @media (min-width:320px)and(max-width:1199px) {
      display: none;
    }
  }
  .direction__description {
    position: absolute;
    bottom: 4px;
    display: flex;
    width: 370px;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  
  .direction__text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .direction__list {
    display: flex;
    list-style: none;
    gap: 30px;
    
  }
  .direction__item {
    position: relative;
    flex-basis: 370px;
}
  .comand {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #F5F4FA;

    @media (min-width:320px)and(max-width:1199px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
  }
  .comand__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .comand__list {
    display: flex;
    list-style: none;
    
    @media (min-width:320px)and(max-width:767px) {
      display: block;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    @media (min-width:768px)and(max-width:1199px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .comand__item {
    margin-right: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media (min-width:320px)and(max-width:767px) {
        width: 450px;
        align-items: center;
      }
    @media (min-width:768px)and(max-width:1199px){
      width: 354px;      
      margin-bottom: 30px;
    }
    &:nth-child(2n) {
      @media (min-width:768px)and(max-width:1199px){
      margin-right: 0;}
      }
    &:nth-last-child(-n + 2){
      margin-bottom: 0;
    }
    &:last-child {
      margin-right: 0px;
    }
  } 
  .photo{
    @media (min-width:768px)and(max-width:1199px) {
      width: 100%;
    }
  }   
  .specialist {
    flex-wrap: wrap;
    width: 270px;
    padding-top: 30px;

    @media (min-width:320px)and(max-width:768px) {
        width: 480px;
      }
    /*@media (min-width:481px)and(max-width:768px) {
      width: 354px;
    }*/
  }
  .specialist__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .specialist__position {
    color: #757575;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }

  .customers {
    padding-top: 95px;
    padding-bottom: 95px;
    @media (min-width:320px)and(max-width:768px) {
        width: 100%;
      }
  }
  .customers__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  .customers__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;

    @media (min-width:320px)and(max-width:1199px) {
      display: flex;
      flex-wrap: wrap;
    }
    /*@media (min-width:481px)and(max-width:768px){
      flex-wrap: wrap;
    }*/
  }
  .customers__link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    &:hover {
      border-color: var(--color-logo);

      @media (min-width:320px)and(max-width:767px) {
          width: 210px;
          height: 92px;
          border: 1px solid #AFB1B8;
          border-radius: 4px;
        }
    }
    
    &:focus {
      border-color: var(--color-logo);
    }
  }
  

  .customers__logo {
    fill: #AFB1B8;
    transition-duration: 250ms;

    .customers__link:hover & {
      fill: var(--color-logo);
    }
    
    .customers__link:focus & {
      fill: var(--color-logo);
    }
  }