.content {
    display: block;
  }
  
  .content-container {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .content__list{
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.content__item{
    border: 1px #EEEEEE;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    transition-duration: 250ms;

    &:nth-child(3n){
        margin-right: 0px;
    }
    &:nth-last-child(-n+3){
      @media (min-width:320px)and(max-width:480px){
        margin-bottom: 30px;
      }
        margin-bottom: 0px;
    }
    &:hover{    
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
   @media (min-width:320px)and(max-width:480px) {
      width: 100%;
      margin-right: 0px;
    }
}
.content__img{
  @media (min-width:320px)and(max-width:480px) {
      width: 100%;
    }
}
.content__description {
    z-index: 1;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
  }
  .content-description__name {
    margin-bottom: 5px;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  
  .content-description__product {
    color: #757575;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
  }
.pop-up-window{
    position: relative;
    overflow: hidden;

}
.pop-up-window__text{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 64px 24px;
    transform: translateY(140%);
    transition: transform 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    .content__item:hover &{
      transform: translate(0);
  }
}
