.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
  }
  
  .modal__container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 40px;

    @media (min-width:480px)and(max-width:1199px) {
      width: 450px;
    }
    @media (max-width:480px){
      width: 100%;
      height: 100%;
    }
  }
  
  .modal.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  
  .modal__text {
    color: #212121;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }
  .form-field {
    position: relative;
  }
  
  .form-lable {
    display: block;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  
  .form-comment {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  
  
  .form-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;

    .form-field:focus-within & {
      fill: var(--color-logo);
    }
  }
  
  .form-input {
    padding-left: 40px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition-duration: 250ms;

    &:focus {
      border-color: var(--color-logo);
    }
  }
  
  
  
  .agreement-aria {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .checkbox {
    z-index: 1;
    opacity: 0;
  }
  
  .condition-terms {
    position: relative;
    margin-left: 8px;
  }
  
  .checkbox-item {
    position: absolute;
    left: 0px;
    fill: none;
    background-color: #ffffff;
    border: #000000 1px solid;
    transition-duration: 250ms;

    @media (min-width:320px)and(max-width:768px) {
      left: 0px;
    }
    @media (min-width:768px)and(max-width:1199px) {
      left: 0px;
    }
  }
  
  .checkbox:checked + .checkbox-item {
    background-color: var(--color-logo);
    fill: #ffffff;
    border-style: none;
    border-radius: 2px;
  }
  .condition-terms {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    @media (min-width:320px)and(max-width:768px) {
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.03em;
    }
    @media (min-width:768px)and(max-width:1199px){
      font-size: 12px;
      line-height: 1.21;
      letter-spacing: 0.03em;
    }
        
  }
  .terms-link {
    color: var(--color-logo);
  }
  .icon-send {
    fill: #FFFFFF;
}